@-webkit-keyframes show_menu {
    from {
        right: 'initial';
    }
    to {
        right: 0em;
    }
}

@keyframes show_menu {
    from {
        right: 'initial';
    }
    to {
        right: 0em;
    }
}

@-webkit-keyframes hide_menu {
    from {
        right: -15em;
    }
    to {
        right: 0em;
    }
}

@keyframes hide_menu {
    from {
        right: -15em;
    }
    to {
        right: 0em;
    }
}

.apply_show_menu{
    -webkit-animation: show_menu ease 1 forwards;
    animation: show_menu ease 1 forwards;
    animation-duration: .8s;
    display: block !important;
}

.apply_hide_menu{
    -webkit-animation: hide_menu ease 1 forwards;
    animation: hide_menu ease 1 forwards;
    animation-duration: .8s;
}


@-webkit-keyframes shift_opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes shift_opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.apply_disappear{
    -webkit-animation: shift_opacity ease 1 forwards;
    animation: shift_opacity ease 1 forwards;
    animation-duration: .5s;
    display: none;
}

.remove_disappear{
    -webkit-animation: shift_opacity ease 1 forwards reverse;
    animation: shift_opacity ease 1 forwards reverse;
    animation-duration: .5s;
    display: block !important;
}

@mixin remove_disappear{
    -webkit-animation: shift_opacity ease 1 forwards reverse;
    animation: shift_opacity ease 1 forwards reverse;
    animation-duration: .5s;
    display: block !important;
}




@-webkit-keyframes lift {
    from {
        opacity: 0;
        bottom: -10em;
    }
    to {
        opacity: 1; 
        bottom: 0; 
    }
}

@keyframes lift {
    from {
        // opacity: 0;
        bottom: -20em;
    }
    to {
        // opacity: 1; 
        bottom: 0; 
    }
}



.apply_lift{
    position: relative;
    -webkit-animation: lift ease .5s forwards;
    animation: lift ease .5s forwards;
}



@keyframes wiggle {
    from {
        transform: skewY(-2deg);
    } to {
        transform:  skewY(2deg);
    }
}

@-webkit-keyframes wiggle{
    from {
        transform: skewY(-.5deg);
    } to {
        transform:  skewY(.5deg);
    }
}

.apply_wiggle{
    animation: wiggle 1s infinite alternate;
    -webkit-animation: wiggle 1s infinite alternate;
    animation-delay: 1s;
}


@keyframes showme{
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
