body, html {
    font-family: 'Roboto', sans-serif;
    height: calc(100% - 2em);
    margin: 0;
    scroll-behavior: smooth;
}


@media only screen and (min-width: $tablet_bp){
    body,html{
        // font-size: .9em;
    }
}
@media only screen and (min-width: $desktop_bp){
    body,html{
        // font-size: .9em;
    }
}
