@mixin primary_btn{
    @include box_shadow;  
    color: $text_inv;
    background-color: $primary;
    border: .05em solid transparent;
    border-radius: $border_radius;
    font-weight: 500;
    text-decoration: none;
}

@mixin secondary_btn{
    @include box_shadow;  
    color: $primary;
    background-color: $secondary;
    border: .05em solid $primary;
    border-radius: $border_radius;
    font-weight: 500;
}


