.doctor_panel_lg_ctnr{
    @include box_shadow;
    align-items: center;
    background-color: $secondary;
    border-radius: 2em;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: 2em;
    gap: 1.2em;
    img{
        width: 12em;
    }
    p{
        font-size: 1em;
    }

}


@media only screen and (min-width: $desktop_bp){
    .doctor_panel_lg_ctnr{
        padding: 2em;
    }
}