#header_btn_ctnr{
    display: flex;
    width: 100%;
    margin-bottom: 2em;
    #header_book_btn{
        background-color: $accent_dk;
        a{
            color: $text_inv;
        }
    }
    #header_phone_btn{
        background-color: $secondary;
        a{
            color: $text;
        }
    }
    #header_book_btn, #header_phone_btn{
        border-radius: 0;
        text-align: center;
        padding: .5em 1em;
        flex: 1;
        display: flex;
        justify-content: center;
        gap: 1em;
        img{
            width: 1em;
        }
    }

}

@media only screen and (min-width: $tablet_bp){
    #header_btn_ctnr{
        display: none;
    }
}