.insurances_ctnr{
    padding: 2em;
    background-color: $accent_lt;
    
    h2{
        @include proj_h2;
        text-align: center;
        border-bottom: 4px solid $primary;
        width: min-content;
        margin: 0 auto;
        margin-bottom: 1em;
    }
    .insurance_imgs{
        gap: 2em;
        // background-color: $secondary;
        display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;
        padding: 2em;
        row-gap: 2em;

    }
    .insurance{
        display: flex;
        flex-flow: column;
        align-items: center;
        flex: 1;
        justify-content: center;
        gap: 1em;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        img{
            width: 8em;
        }
        p{

            font-size: .9em;
            color: $primary;
        }
    }
}
