.serice_slide{
}

.slide_description_ctnr{
    margin-top: 2em;
    position: relative;
    width: 100vw;  
    overflow: hidden;
    margin:  0 -2em;
    p{
        @include md_paragraph;
        z-index: 999;
        position: relative;
        padding: 1em;
    }
}

.stripe{
    background-color: $secondary_lighter;
    width: 150vw;
    height: 4em;
    position: absolute;
    z-index: 998;
    top: 2em;
    left: -5em;
    transform: rotate(18deg);
}




@media only screen and (min-width: $tablet_bp){
    .stripe{
        display: none;
    }
    .slide_description_ctnr{
        width: unset;
        p{
            width: 85%;
            margin-left: 1rem;
        }
    }
    #slider_ctnr{
        display: flex;
        flex-flow: wrap;
    }

    

}

@media only screen and (min-width: $desktop_4k_bp){
    .slide_description_ctnr{
        p{
            margin-left: 3.2rem;
        }
    }
}