.services_grid_ctnr{
    opacity: 0;
}

.grid_row{
    display: flex;
    justify-content: center;
}
.grid_slot{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    height: 10em;
    position: relative;
    width: 10em;
    
    img{
        width: 100%;
    }
    .grid_text{
        align-items: center;
        display: flex;
        flex-flow: column;
        gap: .2em;
        justify-content: center;
        color: $text_inv;
        width: 100%;
        height: 100%;
        z-index: 999;
        background-color: rgba($color: #000000, $alpha: .3);
    }
    .learn_more_ctnr{
        display: flex;
        justify-content: center;
        gap: .5em;
        .learn_more_anchor{
            color: $text_inv;
            border-bottom: $border_width solid $text_inv;
            font-size: .7em;
            font-weight: 900;
        }
        img{
            width: .7em;
        }

    }
}


@media only screen and (min-width: $tablet_bp){
    .services_grid_ctnr{
        display: flex;
        flex: 1;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}