.slide_ctnr{
    align-items: flex-start;
    // align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;

    #slide_h1{
        // text-align: center;
    }
    #slide_small{
        // text-align: center;
    }
    .small_slide{
        margin-top: 1em;
        align-self: center;
    }

}

.slide_ctnr+.slide_ctnr{
    display: none;
}

.slide_description_ctnr{
    position: relative;
    overflow: hidden;
    margin:  1em -2em;
    width: 100vw;
    align-self: center;
    p{
        @include md_paragraph;
        position: relative;
        padding: 1em;
        text-align: center;
        z-index: 999;
    }       
    .stripe{
        background-color: $secondary_lighter;
        width: 150vw;
        height: 4em;
        position: absolute;
        top: 5em;
        left: -5em;
        transform: rotate(18deg);
        z-index: 998;
    }
    .hidden_text{
        display: none;
    }
}

.img_ctnr{
    @include box_shadow;
    background-color: $secondary;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 16em;
    height: 16em;
    overflow: hidden;

    margin: 0 auto;

    img{
        position: relative;
        top: 1em;
        // left: 1em;
        // width: 70%;
    }
    #radiology_img{
        left: 4em;   
    }
}



.link{
    @include light_text;
    text-decoration: underline;
    color: #444; 
}

.link:hover{
    text-decoration: none;
    color: $primary; 
}



@media only screen and (min-width: $tablet_bp){
    .slide_ctnr{
        .small_slide{
            display: none;
        }
        .slide_text_ctnr{
            // display: flex;
            // flex-flow: column;
            // justify-content: center;
        }

    }
    .stripe{
        display: none;
    }
    .slide_description_ctnr{
        width: unset;
        p{
            width: 85%;
        }
        .hidden_text{
            // display: block;
        }
    }

    

}

@media only screen and (min-width: $desktop_bp){
    .slide_description_ctnr{
        p{
            font-size: 2em;
        }
    }

}