.service_ctnr{
     padding: 1em 3em;
    h2{
        @include heavy_text;
        margin-top: 2em;
        font-size: 2em;
    }
    h3{
        @include heavy_text;
        margin-top: 1.25em;
        margin-bottom: .25em;
        font-style: italic;
        font-family: $font_family_alt;
        font-size: 1.5em;
    }
    h4{
        @include regular_text;
        font-weight: 400;
        margin-bottom: .15em;
        max-width: 40em
    }
    p{
        @include light_text;
        margin-bottom: .5em;

        font-size: 1.5em;
        color: $light_text;
    }

    p:last-of-type{
        margin-bottom: 2em;
    }

    ul{
        display: flex;
        background-color: $secondary;
        padding: 2em;
        flex-flow: column;
        gap: 2em;
        list-style: disclosure-closed;
        border-radius: $border_radius;
        max-width: 40em;
        margin-bottom: 1em;
    }
    li{
        @include light_text;
        font-size: $font_sz_md;
    }
    .text_group{
        margin-bottom: 2em;
        opacity: 0;        
    }
}


.service_ctnr[data-alt="alt1"]{
    background-color: $primary;
    color: $text_inv;
    p{
        color: $secondary;
    }
}

.service_ctnr[data-alt="alt2"]{
    background-color: $gyno_theme;
    ul{
        background-color: #fff;
    }
}


@media only screen and (min-width: $tablet_bp){
    .service_ctnr{
        padding: 1em 10em;
        // width: 80%;
        margin: 0 auto;
        ul{
            // max-width: 40em;
        }
    }

}