// COLORS
$primary : #0e153a;
$secondary : #ecf1ff;
$secondary_lighter : #f5f7ff;
$accent_dk : #707070;
$accent_lt : #f1f1f1;
$logo_bg: #000;
$text: $primary;
$text_inv: #fff;
$shadow_color: #c8c8c8;


//STANDARD SIZES
$border_width: .09em;
$border_radius: .9em;
$section_margin: 2em;

//BREAKPOINTS
$tablet_bp: 768px;
$desktop_bp: 1919px;
$desktop_4k_bp: 3839px;
