{% extends 'base.html' %}


{% block content%}

<main>
    <section id="about_section">
        <div class="banner_ctnr">
            <h1>
                About our Practice
            </h1>
        </div>


        <div id="about_header_ctnr">
            <div class="about_banner_ctnr">
                <div class="about_row">
                    <div class="row_text_ctnr">
                        <h2>
                            Mac Williams MD
                            <br>
                            & Associates
                        </h2>
                        <small>
                            {{CONTACT_DICT['address']}}
                        </small>
                        <div id="btn_ctnr">
                            <button id="book_now_btn">
                                Book Now
                            </button>
                            <button id="new_client_btn">
                                New Client
                            </button>
                        </div>
                        <p>
                            This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. 
                        </p>
                    </div>
                    <div class="row_img_ctnr">
                        <img
                            src="{{ url_for('static', filename='images/services/about_us.jpg') }}"
                            alt="about_us">
                    </div>
    
                </div>


                <div class="about_row">
                    <p>
                        This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. 
                    </p>
                    <p class="hidden_about">
                        This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. 
                    </p>
                </div>
            </div>



        </div>

        <div class="about_doctor_ctnr">
            <h1>
                Meet our Doctors
            </h1>
            <div class="about_doctor_panels_lg_ctnr">
                {{doctor_panel_lg('Williams')}}
                {{doctor_panel_lg('Williams')}}
            </div>
        </div>

    </section>
</main>

{% endblock %}