{% extends 'base.html' %}


{% block content%}

<main>
    <section id="about_section">
        <div class="banner_ctnr">
            <h1>
                About our Practice
            </h1>
        </div>


        <div id="about_header_ctnr">
            <div class="about_banner_ctnr">
                <h2>
                    Some Heading
                </h2>
                <small>
                    Location or Address
                </small>
            </div>
            <div id="btn_ctnr">
                <button id="book_now_btn">
                    Book Now
                </button>
                <button id="new_client_btn">
                    New Client
                </button>
            </div>
            <p>
                This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. 
            </p>
            <p>
                This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. This is about us. 
            </p>
        </div>

        <div id="meet_doctors_ctnr">
            
        </div>

    </section>
</main>

{% endblock %}