{% extends 'base.html' %}

{% block content %}
    <main>
        <section id="contact_section">
            <h1>
                Reach Out
            </h1>
            <div class="form_ctnr">
                <form id="client_form" action="{{url_for('api.send_contact')}}" method="POST">
                    {{form.hidden_tag()}}
                    <div class="form_columns">
                        <div class="form_column">
                            <div class="form_group">
                                {{form.fname.label}}
                                {{form.fname}}
                            </div>
                            <!-- <div class="form_group">
                                {{form.fname.label}}
                                {{form.fname}}
                            </div>
                        </div>
                        <div class="form_column">
                            <div class="form_group">
                                {{form.fname.label}}
                                {{form.fname}}
                            </div>
                            <div class="form_group">
                                {{form.fname.label}}
                                {{form.fname}}
                            </div> -->
                        </div>

                        <div class="recaptcha_ctnr">
                        </div>


                        <div class="form_group_btn_lg">
                            {{button_like('submit', elem_id='contact_submit')}}
                            <!-- {{form.submit}} -->
                        </div>
        
                        <div class="form_group_btn">
                            <img src="{{ url_for('static', filename='images/assets/send.svg') }}" alt="">
                        </div>
                    
                    </div>
                </form>

            </div>
        </section>
    </main>
{% endblock %}