{% extends 'base.html' %}

{% block content %}
    <main>
        <section id="new_client_section">
            <div class="columns_ctnr">
                <div class="left_column">
                    <h1>
                        Welcome
                    </h1>
                    <p>
                        This is a welcome message. This is a welcome message. This is a welcome message. This is a welcome message. This is a welcome message. This is a welcome message. This is a welcome message. This is a welcome message. This is a welcome message. This is a welcome message. 
                    </p>
                    <a href="{{url_for('main.contact')}}">
                        Contact Us Here...
                    </a>                            
                </div>

                <div class="right_column">
                    {{service_grid()}}
                </div>
            </div>
            <div id="new_client_ctnr">
                <h3>
                    New Patient
                </h3>
                <hr>
                <div class="form_ctnr">
                    <form action="{{url_for('api.send_new_client')}}">
                        <div class="form_columns">
                            <div class="form_column">
                                <div class="form_group">
                                    {{form.fname.label}}
                                    {{form.fname}}
                                </div>
                                <div class="form_group">
                                    {{form.fname.label}}
                                    {{form.fname}}
                                </div>                            
                            </div>
                            <div class="form_column">
                                <div class="form_group">
                                    {{form.fname.label}}
                                    {{form.fname}}
                                </div>
                                <div class="form_group">
                                    {{form.fname.label}}
                                    {{form.fname}}
                                </div>
                            </div>
                        </div>
                        {{button_like('submit')}}
                    </form>
                </div>
            </div>
        </section>
    </main>

{% endblock %}