{% extends 'base.html' %}

{% block content %}

    <main>
        <section id="services_section">
            <div class="services_banner_ctnr">
                <div class="services_text_ctnr">
                    <h1>
                        Our Services
                    </h1>
                    <p class="service_summary">
                        Summary about our services. Summary about our services. Summary about our services. 
                    </p>
                    {{button_like('appointment')}}
                </div>
                {{service_grid()}}
            </div>

            {{service_panel('ekg')}}
            {{service_panel('laboratory')}}
            {{service_panel('radiology')}}
            {{service_panel('gynecology')}}
            <div class="btn_ctnr">
                {{button_like('appointment')}}
            </div>
        </section>
    </main>

{% endblock %}