#hero_section{
    h1{
        @include proj_h1;
    }
    small{
        @include subtitle;
    }
    .img_ctnr{
        // img{
        //     width: unset;
        // }
        // #radiology_img{
        //     // margin-top: 1em;
        //     // margin-left: 8em;
        // }
        // #laboratory_img{
        //     // margin-top: 1em;
        // }
    }
    #slider_ctnr{
        margin-top: 2em;
        .slide_ctnr + .slide_ctnr{
            display: none;
        }
    }

    .doctor_panels_lg_ctnr{
        display: none;
    }
    
    #read_more_btn{
        a{
            color: $text_inv;
        }
    }
}




.main_display_ctnr{
    padding: 1em;
    .right_col{
        display: none;
    }
    .left_col{
        .buttons_ctnr{
            display: none;
        }
        // .slide_text_ctnr + .slide_text_ctnr{
        //     display: none;
        // }

    }
}


@media only screen and (min-width: $tablet_bp){
    #hero_section{
        margin: 0;
        h1{
            // text-align: center;
        }
        p{
            // text-align: center;
        }
    }

    .main_display_ctnr{
        height: 70vh;
        position: relative;
        display: flex;
        padding: 0;
        
        .left_col{
            background-color: $accent_lt;
            display: flex;
            flex-flow: column;
            padding: 2em;
            flex: .25;
            .buttons_ctnr{
                display: flex;
                justify-content: flex-start;
                gap: 1em;
                margin-top: 2em;
                flex-flow: wrap;
                .button_like{
                    width: 25%;
                }
            }
            .book_btn{
                @include primary_btn;
            }
            .phone_btn{
                @include secondary_btn;
            }

        }
        
        .right_col{
            display: block;
            flex: .75;
            overflow: hidden;
            position: relative;
            img{
                height: 100%;
                position: absolute;
            }
            .slide_img_full + .slide_img_full{
                display: none;
            }
            #welcome_full{
                left: -15em;
            }
            #ekg_full{
                right: -20em;
            }
            #laboratory_full{
                right: -12em;
            }
            #gynecology_full{
                right: -20em;
            }
            #radiology_full{
                left: -6em;
                // right: -49em;
            }
        }
    }
    #hero_section{
        margin: 0;
        .doctor_panels_lg_ctnr{
            margin-top: 2em;
            display: flex;
            flex-flow: wrap;
            gap: 4em;
            justify-content: center;
            text-align: center;
            img{
                width: 7em;
            }
            hr{
                margin: 0;
                opacity: .5;
            }
            .doctor_panel_lg_ctnr{
                width: 10em;

            }
        }
    }

}


@media only screen and (min-width: $desktop_bp) {
    .main_display_ctnr{
        height: 90vh;
        .right_col{
            #welcome_full{
                left: unset;
            }
            #ekg_full{
                right: unset;
            }
            #laboratory_full{
                right: unset;
            }
            #gynecology_full{
                right: unset;
            }
            #radiology_full{
                left:unset;
            }
        }
    }
    
}