@mixin primary_btn{
    @include box_shadow;  
    color: $text_inv;
    background-color: $primary;
    border: .05rem solid transparent;
    border-radius: $border_radius;
    font-weight: 500;
}

@mixin secondary_btn{
    @include box_shadow;  
    color: $primary;
    background-color: $secondary;
    border: .05rem solid $primary;
    border-radius: $border_radius;
    font-weight: 500;
}




.button_like{
    @include box_shadow;
    display: flex;
    border-radius: 10em;
    justify-content: center;
    align-items: center;
    border: $border_width solid $primary;
    padding: .5em 1em;
    gap: 1em;
    width: 75%;
    max-width: 18rem;
    img{
        width: 1.5rem;
    }
    p{
        font-size: 1.3rem;
    }
    :hover{
        cursor: pointer;
        text-decoration: underline;
    }
}

.inverse_btn_like{
    background-color: $secondary;
    color: $primary;
    border-width: $border_width;
}

.standard_btn_like{
    background-color: $primary;
    color: $text_inv;
    border-width: $border_width;
}

.standard_btn_like:hover{
    background-color: darken($primary, 10%);
    cursor: pointer;
    p{
        text-decoration: underline;
    }
}

.inverse_btn_like:hover{
    background-color: lighten($secondary, 5%);
    cursor: pointer;
    p{
        text-decoration: underline;
    }
}