body, html {
    font-family: "GoogleSans", "Helvetica";
    height: calc(100% - 2em);
    margin: 0;
}

image{
    width: 100%;
}

button:hover{
    cursor: pointer;
    
}


#base_header_section{
    position: relative;
    nav{
        padding: .5em 1em;
    }
    .main_nav_ul{
        align-items: center;
        list-style: none;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding: 0;
        a{
            @include proj_a;
        }
    }
    #mac_banner{
        width: 10rem;
    }
    #hamburger{
        width: 2em;
        cursor: pointer;
    }
    #header_btn_ctnr{
        display: flex;
        width: 100%;
        margin-bottom: 2em;
        #header_book_btn{
            background-color: $primary;
            color: $text_inv;
        }
        #header_phone_btn{
            background-color: $secondary;
            color: $text;
        }
        #header_book_btn, #header_phone_btn{
            border-radius: 0;
            text-align: center;
            padding: .5em 1em;
            flex: 1;
        }

    }
    *[dataset-mquery="tablet"]{
        display: none;
    }
    #hidden_menu{
        background-color: $secondary;
        border-radius: 0px 0px $border_radius $border_radius;
        display: none;
        position: absolute;
        gap: 2em;
        right: 0;
        top: 0;
        width: 50vw;
        height: 90vh;
        padding: 1em 0;
        z-index: 1000;
        li{
            width: 100%;
            text-align: center;
        }
        li[dataset-active='true']{
            background-color: $text_inv;
            font-weight: 600;
        }
        ul{
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            gap: 2rem;
            :hover{
                a{
                    @include border_bottom($primary);
                    transition: 1s;
                }
            }
            a{
                @include proj_a;
                text-align: center;
                color: $primary;
            }
        }
    }
}


#base_footer_section{
    #footer_actions_ctnr{
        display: flex;
        flex-flow: column;
        margin: 2em;
        gap: 2em;
    }
    .action_ctnr{
        display: flex;
        flex-flow: column;
        h2{
            @include proj_h2;
        }
        p{
            @include details;
            font-style: italic;
        }
        i{
            width: 70%;
        }
    }
    .action_ctnr+.action_ctnr{
        margin-top: 1.5em;
    }
    .button_like{
        margin-top: 1em;
        max-width: 20em;
    }


    #office_hours_ctnr{
        display: flex;
        flex-flow: column;
        gap: 1em;
        // align-items: flex-start;
        margin: 2em;
        h2{
            @include proj_h2;
        }
        p{
            @include subtitle;
            font-size: 1.3rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }
    }
    
    .office_hour{
        display: flex;
        gap: 2em;
        .date{
            width: 40%;
            text-align: left;
        }
        .time{
            width: 60%;
            text-align: center;
        }

    }

    hr{
        margin: 0 auto;
        width: 90%;
        opacity: .7;
    }

    #tos_ctnr{
        background-color: $primary;
        display: flex;
        flex-flow: column;
        gap: 1em;
        padding: 2em;
        a{
            @include proj_a;
            text-align: center;
            color: $text_inv;
        }
    }

    #top_btn_ctnr{
        display: flex;
        justify-content: center;
        background-color: $logo_bg;
        padding: 3em;
        button{
            @include secondary_btn;
            margin: 0 auto;
            padding: 0.5em 1em;
            font-size: 1rem;
        }
    }

}

main{
    // background-color: red;
    width: 100%;
    min-height: 10em;
}




@media only screen and (min-width: $tablet_bp){
    body,html{
        font-size: 0.9em;
    }
    #base_header_section{
        #hamburger_ctnr{
            display: none;
        }
        
        #header_btn_ctnr{
            display: none;
        }
        #hidden_menu{
            display: none;
        }
        #top_btn_ctnr{
            display: none;
        }
        *[dataset-mquery="tablet"]{
            display: block;
        }
        .main_nav_ul{
            justify-content: flex-end;
            gap: 1em;
            padding: 0 .2em;
            #logo_ctnr{
                margin-right: auto;
            }
        }           
    }

    //FOOTER MEDIA QUERIES
    #base_footer_section{
        #footer_actions_ctnr{
            flex-flow: row wrap;
            align-items: flex-end;
            .action_ctnr{
                min-width: 25em;
                i{
                    font-size: 1.2rem;
                }
            }
        }
    }

    #office_hours_ctnr{
        h2{
            text-align: center;
        }
        .office_hour{
            font-size: 1.8rem;
            .date{
                text-align: right;
            }
        }
    }





}

@media only screen and (min-width: $desktop_bp){
    body,html{
        font-size: 1.2em;
    }
    #base_footer_section{
        .button_like{
            width: 15rem;
        }
        hr{
            margin: 0 2em;
            width: 25%;
            max-width: 25em;
        }
        #office_hours_ctnr{
            h2{
                text-align: left;
            }
            .office_hour{
                .date{
                    width: 8em;
                    text-align: left;
                }
                .time{
                    width: unset;
                }

            }
        }
    }
}

@media only screen and (min-width: $desktop_4k_bp){
}