#error_section{
    align-items: center;
    gap: 1rem;
    flex-flow: column;
    display: flex;
    justify-content: center;
    height: 20em;
    width: 100%;
    h1{
        @include proj_h1;
    }
    p{
    @include subtitle;
    }
}