#index_section1{
    margin: $section_margin;
    h1{
        @include proj_h1;
    }
    small{
        @include subtitle;
    }
    .img_ctnr{
        img{
            width: unset;
        }
        #radiology_img{
            margin-top: 1em;
            margin-left: 8em;
        }
        #laboratory_img{
            margin-top: 1em;
        }
    }
    #slider_ctnr{
        margin-top: 2em;
    }
    .doctor_panels_lg_ctnr{
        display: none;
    }
}


.doctors_ctnr{
    background-color: $secondary;
    margin: 2em -2em;
    padding: 2em 0;
    display: flex;
    flex-flow: column;

    h2{
        @include proj_h2;
        text-align: center;
    }
    .doctor_card{
        margin-top: 2em;
    }
    button{
        @include primary_btn;
        font-size: 1.5rem;
        padding: .5em 1em;
        margin: 1em auto;
    }
}


.insurances_ctnr{
    // margin: 1em -2em;
    margin-top: 4em;
    padding: 2em;
    background-color: $secondary;
    h2{
        @include proj_h2;
        text-align: center;
    }
    .insurance_imgs{
        // background-color: $secondary;
        display: flex;
        height: 20em;
    }
}



.slide_dots_ctnr{
    display: flex;
    gap: .5em;
    margin-top: .5em;
}

.slide_dot{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: $primary;
    border: $border_width solid $accent_dk;
}

.slide_dot[dataset-active='true']{
    background-color: $secondary;
}


.main_display_ctnr{
    .right_col{
        display: none;
    }
    .left_col{
        .buttons_ctnr{
            display: none;
        }
    }
}

@media only screen and (min-width: $tablet_bp){
    .main_display_ctnr{
        // border: 1px solid blue;
        height: 90vh;
        position: relative;
        display: flex;

        .left_col, .right_col{
            // border: 1px solid red;
        }
        
        .left_col{
            background-color: $accent_lt;
            display: flex;
            flex-flow: column;
            padding: 2em;
            width: 40%;
            .buttons_ctnr{
                display: flex;
                justify-content: flex-start;
                gap: 1em;
                margin-top: 2em;
                button{
                    padding: .5em;
                    font-size: 1rem;
                    // width: 45%;
                    width: 14rem;
                }
            }
            .book_btn{
                @include primary_btn;
            }
            .phone_btn{
                @include secondary_btn;
            }
            .slide_dots_ctnr{
                order: 1;
                margin-top: auto;
            }
        }
        
        .right_col{
            display: block;
            overflow: hidden;
            position: relative;
            width: 60%;
            img{
                height: 100%;
                position: absolute;
            }
            #welcome_full{
                right: -50rem;
            }
            #ekg_full{
                right: -33rem;
            }
            #laboratory_full{
                right: -12rem;
            }
            #gynecology_full{
                right: -26rem;
            }
            #radiology_full{
                right: -69em;
            }
        }
    }
    #index_section1{
        margin: 0;
        .img_circle_ctnr{
            display: none;
        }
        .doctor_panels_lg_ctnr{
            margin-top: 2em;
            display: flex;
            flex-flow: wrap;
            gap: 4em;
            justify-content: center;
            text-align: center;
            // width: 10rem;
            img{
                width: 7rem;
            }
            hr{
                margin: 0;
                opacity: .5;
            }
            .doctor_panel_lg_ctnr{
                width: 10rem;

            }
        }
    }
    .doctors_ctnr{
        margin: unset;
        background-color: $text_inv;
        .doctor_card_ctnr{
            display: none;
        }
        #read_more_button{
            display: none;
        }
    }

    .insurances_ctnr {
        .insurance_imgs{
            margin: unset;
        }

    }
}


@media only screen and (min-width: $desktop_bp){
    #index_section1{
        h1{
            font-size: 3.5rem;
        }
        small{
            font-size: 2.5rem;
        }
    }
    .main_display_ctnr{
        .right_col{
            #welcome_full{
                right: -15rem;
            }
            #ekg_full{
                right: -4rem;
            }
            #gynecology_full{
                right: -16rem;
            }
            #radiology_full{
                right: -14em;
            }
        }
    }
}