#new_client_section{
    margin: $section_margin;
    h1{
        @include proj_h1;
    }
    p:first-of-type{
        @include sm_paragraph;
        margin: .5em 0em;
        // color: red;
    }
    a{
        @include proj_a;
        text-decoration: underline;
    }
    #new_client_ctnr{
        margin-top: 3em;
        h3{
            @include proj_h2;
            color: $accent_dk;
        }
        hr{
            margin-bottom: 1em;
        }
        .form_ctnr{
            border: none;
            .button_like{
                margin: 0 auto;
                font-weight: 600;
                padding: 0;
            }
        }
    }
    .columns_ctnr{
        display: flex;
    }
    .left_column{
        align-items: flex-start;
        flex: 1;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }
    .right_column{
        align-items: center;
        flex: 1;
        display: none;
        justify-content: center;
    }
}

@media only screen and (min-width: $tablet_bp){
    #new_client_section{
        .right_column{
            display: flex;
        }
        #new_client_ctnr{
            .form_ctnr{
                .button_like{
                    max-width: 12rem;
                    margin: 0 1em;
                }
            }
            
        }

    }
}