#services_section{
    h1{
        @include proj_h1;
        margin-left: 2em;
    }
    .btn_ctnr{
        display: flex;
        flex-flow: column;
        margin-top: 1em;
        gap: 1.5em;
        justify-content: center;
        align-items: center;
        margin-bottom: 4em;
    }
    button{
        font-size: 1.3rem;
        padding: .5em 1em;
        width: 75%;
    }
    #book_now_btn{
        @include primary_btn;
    }
    #new_client_btn{
        @include secondary_btn;
    }
}

