#services_section{
    h1{
        @include proj_h1;
        margin-left: 2em;
    }
    .btn_ctnr{
        background-color: $accent_lt;
        display: flex;
        flex-flow: column;
        padding: 1.5em 0em;
        margin-top: 1em;
        gap: 1.5em;
        justify-content: center;
        align-items: center;
        margin-bottom: 4em;
    }
    button{
        font-size: 1.3rem;
        padding: .5em 1em;
        max-width: 22rem;
        width: 18rem;
    }
    #book_now_btn{
        @include primary_btn;
    }
    #new_client_btn{
        @include secondary_btn;
    }
    .service_summary{
        display: none;
    }
    .book_btn{
        display: none;
    }
    .lg_service_title{
        display: none;
    }
    .services_text_ctnr{
        .button_like{
            display: none;
        }
    }
}



@media only screen and (min-width: $tablet_bp){
    #services_section{
        .services_banner_ctnr{
            display: flex;
            padding: 2em;
            align-items: center;
        }
        .services_text_ctnr{
            align-items: center;
            display: flex;
            flex-flow: column;
            gap: 2em;
            flex: 1;
            .button_like{
                display: flex;
                width: unset;
            }
        }
        h1{
            font-size: 3rem;
            margin-left: unset;
            text-align: center;
        }
        .service_summary{
            @include md_paragraph;
            display: block;
            text-align: center;
            font-size: 1.5rem;
        }
        .book_btn{
            @include primary_btn;
            display: block;
            font-size: 1.5rem;
            max-width: 18rem;
        }
        .service_ctnr{
            background-color: $secondary;
        }
        .inverse_service_panel{
            background-color: $text_inv;
            color: $primary;
            .service_description{
            }
        }
        .lg_service_title{
            display: block;
        }
        
    }
}