#about_section{
    
    h1{
        @include proj_h1;
    }
    
    h2{
        @include subtitle;
        font-size: 2em;
    }
    
    p{
        @include regular_text;
        font-size: 1.3em;
    }
    
    .banner_ctnr{
        display: flex;
        flex-flow: column;
        gap: .5em;
        padding: $section_margin;
        .banner_logo{
            display: none;
        }
    }
    
    .about_doctor_ctnr{
        margin: 2em 0;
        h1{
            text-align: center;
        }
    }

    .about_doctor_panels_lg_ctnr{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 2em;
        margin-top: 2em;
        .doctor_panel_lg_ctnr{
            width:15rem;
            text-align: center;
        }
    }
    .description1_ctnr{
        padding: $section_margin;
        padding-top: 0;
        opacity: 0;
        p{
            font-size: 1.3em;
        }
    }
    

    .ul_ctnr{
        background-color: $primary;
        align-items: center;
        display: flex;
        flex-flow: row;
        gap: 1em;
        justify-content: center;
        padding: $section_margin;
        filter: grayscale(100%);
        p{
            width: 3em;
            color: $secondary;
            font-size: 2em;
        }
        ul{
            display: flex;
            flex-flow: column;
            list-style: none;
            gap: 2em;
            text-align: center;

        }
        li{
            @include light_text;
            color: $secondary;
            font-size: 1.2em;
        }
        
    }
    .button_like{
        width: max-content;
    }
    .about_row{
        padding: $section_margin;
        display: flex;
        flex-flow: column;
        gap: 1em;
        position: relative;
        opacity: 0;
        img{
            display: none;
        }
    }
}

@media only screen and (min-width: $tablet_bp){
    #about_section{
        font-size: 1.1em;
        .about_row{
            overflow: hidden;
            position: relative;
            img{
                display: block;
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                mix-blend-mode: overlay;
                opacity: .3;
            }
            p{
                background-color: rgba($color: $secondary, $alpha: .7);
                padding: 1em;
                border-radius: 2px;
            }
        }
    }
}

@media only screen and (min-width: $desktop_bp){
    #about_section{
        font-size: 1.2em;
        p, li{
            width: 45%;
        }
        .about_row{
            p{
                text-align: center;
                margin: 1em auto;
                font-size: 1.5em;
            }
            img{
                opacity: .1;
            }
        }
        .ul_ctnr{
            ul{
                align-items: center;
                width: 35em;
            }
        }
        .banner_ctnr{
            align-items: center;
            font-size: 1.3em;
            display: flex;
            flex-flow: row;
            justify-content: 2em;
            justify-content: center;
            margin-bottom: 2em;
            gap: 10em;
            .banner_logo{
                align-items: center;
                display: block;
                width: 25em;
                border-radius: $border_radius;
            }
        }

        .description1_ctnr{
            p{
                margin: 0 auto;
                font-size: 1.8em;
                text-align: center;
            }
        }
    }
}