#about_section{
    h1{
        @include proj_h1;
    }
    h2{
        @include subtitle;
        font-size: 2em;
    }
    p{
        @include regular_text;
        font-size: 1.3em;
    }
    .row_img_ctnr{
        display: none;
    }
    .banner_ctnr{
        display: flex;
        flex-flow: column;
        gap: .5em;
        padding: $section_margin;
    }
    .about_doctor_ctnr{
        margin: 2em 0;
        h1{
            text-align: center;
        }
    }
    .about_doctor_panels_lg_ctnr{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 2em;
        margin-top: 2em;
        .doctor_panel_lg_ctnr{
            width:15rem;
            text-align: center;
        }
    }
    .description1_ctnr{
        padding: $section_margin;
        padding-top: 0;
        // transition: 3s;
        opacity: 0;
        p{
            font-size: 1.3em;
        }
    }
    

    .ul_ctnr{
        background-color: $primary;
        align-items: center;
        display: flex;
        flex-flow: row;
        gap: 1em;
        justify-content: center;
        padding: $section_margin;
        filter: grayscale(100%);
        p{
            width: 3em;
            color: $secondary;
            font-size: 2em;
        }
        ul{
            display: flex;
            flex-flow: column;
            list-style: none;
            gap: 2em;

        }
        li{
            @include light_text;
            color: $secondary;
            // font-size: $font_sz_md;
            font-size: 1.2em;
        }
        
    }
    .button_like{
        width: max-content;
    }
    .about_row{
        padding: $section_margin;
        display: flex;
        flex-flow: column;
        gap: 1em;
        position: relative;
        opacity: 0;
        // transition: 3s;
        // img{
        //     position: absolute;
        //     margin: 0 auto;

        //     mix-blend-mode: color-dodge;
        // }
    }
}

@media only screen and (min-width: $tablet_bp){
    #about_section{

        .about_row{
            align-items: flex-start;
            display: flex;
            gap: 2em;

        }
        .row_text_ctnr{
            display: flex;
            flex-flow: column;
            flex: 1;
        }
        .row_img_ctnr{
            display: block;
            position: relative;
            flex: 1;
            overflow: hidden;
            img{
                border-radius: $border_radius;
                border: $border_width solid $secondary;
                width: 100%;
            }
        }
        #btn_ctnr{
        }
    
    }
    #about_header_ctnr{
        p{
            width: 80%;
        }
        .button_like{
            p{
                width: unset;
            }
        }
    }
}