#doctors_section{
    margin: $section_margin;
    h1{
        @include proj_h1;
    }
    
}




.doctor_panel_ctnr{
    margin-bottom: 2em;
    opacity: 0;
    h3{
        @include proj_h2;
        color: $accent_dk;
    }
    small{
        @include details;
        color: $accent_dk;
    }
    p{
        // @include md_paragraph;
        @include sm_paragraph;
        font-size: 1.3em;
        margin-top: 1em;
        max-width: 90%;
    }
    hr{
        margin: 3em auto;
        width: 90%;
        opacity: .5;
    }
    a{
        display: contents;
    }
    .img_circle_ctnr{
        margin-bottom: 1em;
    }
}


@media only screen and (min-width: $tablet_bp){
    #doctors_section{
        hr{
            display: none;
        }
        .doctor_panel_ctnr{
            display: flex;
            margin-top: 2em;
            margin-bottom: 4em;
            gap: 3em;
            padding: 0 4em;
            flex-flow: row-reverse;
            .img_circle_ctnr{
                // margin-bottom: 1em;
            }
            .img_ctnr{
                border-radius: 2em;
                height: 20em;
                width: 20em;
            }
        }
        .doctor_panel_ctnr:nth-child(4){
            flex-flow: row-reverse;
        }
        .doctor_text_ctnr{
            display: flex;
            flex-flow: column;
            gap: .5em;
        }
    }
}


@media only screen and (min-width: $desktop_bp){
    #doctors_section{
        hr{
            display: none;
        }
        .doctor_panel_ctnr{
            justify-content: center;
            // .img_circle_ctnr{
            //     width: unset;
            // }
        }
        .doctor_text_ctnr{
            width: 50%;
        }
    }
}