.doctors_ctnr{
    background-color: $secondary;
    margin: 0em -2em;
    padding: 2em 0;
    display: flex;
    flex-flow: column;

    h2{
        @include proj_h2;
        text-align: center;
    }
    .doctor_card{
        margin-top: 2em;
    }
    button{
        @include primary_btn;
        font-size: 1.5em;
        padding: .5em 1em;
        margin: 1em auto;
    }
}



// @media only screen and (min-width: $tablet_bp){
//     .doctors_ctnr{
//         margin: unset;
//         background-color: $text_inv;
//         .doctor_card_ctnr{
//             display: none;
//         }
//         #read_more_btn{
//             display: none;
//         }
//     }

//     .insurances_ctnr {
//         background-color: $secondary;
//         .insurance_imgs{
//             margin: unset;
//         }

//     }
// }

// @media only screen and (min-width: $desktop_bp){
//     .main_display_ctnr{
//         .right_col{
//             #welcome_full{
//                 left: 0;
//                 right: unset;
//             }
//             #ekg_full{
//                 left: 0;
//                 right: unset;
//             }
//             #radiology_full{
//                 left: 0;
//                 right: unset;
//             }
//             #gynecology_full{
//                 left: 0;
//                 right: unset;
//             }

//         }
//     }
// }


// @media only screen and (min-width: $desktop_bp){
//     #hero_section{
//         h1{
//             font-size: 3.5em;
//         }
//         small{
//             font-size: 2.5em;
//         }
//     }
//     .main_display_ctnr{
//         .right_col{
//             #welcome_full{
//                 right: -20em;
//             }
//             #ekg_full{
//                 right: -4em;
//             }
//             #gynecology_full{
//                 right: -16em;
//             }
//             #radiology_full{
//                 right: -14em;
//             }
//         }
//     }
// }